<%= render 'shared/header'%>

<div class="book-new" >
  <div class="searched-book">
    <div class="searched-book-image">
      <%=image_tag @image.params%>
    </div>

    <div class="searched-book-text">
      <div class="book-item title-font">
        <%=@title.params%>
      </div>
      <div class="book-item author-font">
        <%=@author.params%>
      </div>
      <div class="link-btn">
        <%=link_to 'rakuten', @url.params, class: "btn btn-url"%>
          <%=form_with model: @book, url:books_path(@book.id),  method: :post, local: true do |f|%>
             <%=f.hidden_field :isbn, value: @isbn.params %>
             <%=f.hidden_field :title, value: @title.params %>
             <%=f.hidden_field :image_url, value: @image.params %>
             <%= f.hidden_field :author, value: @author.params%>
             <%= f.hidden_field :url, value: @url.params%> 
             <%= f.hidden_field :user_id, value: current_user.id%> 
             <%= f.submit "READING", class: "btn-reading"%>         
        <% end %> 
          <%=link_to 'WANA READ', '#', class: "btn btn-wana"%>
      </div>   
     </div>
   </div>
</div>

     